.btn {
  border-radius: 0; }

.carousel .item {
  height: 500px;
  background-color: #777; }

.navbar-default {
  background-color: transparent;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ff5f67;
  background-color: transparent; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ff5f67;
  background-color: transparent; }

/* -------------- loader  -------------- */
.loader {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 49%;
  top: calc(50% - 2.5px);
  left: 49%;
  left: calc(50% - 2.5px);
  background-color: #fff;
  border-radius: 50px; }

.loader:before {
  content: "";
  position: absolute;
  top: -38px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 0 50px 0px  0;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite; }

.loader:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 0 0px 0px  50px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* -------------- loader box -------------- */
.loader-box:nth-child(2n-1) {
  background-color: #ff5f67; }

.loader-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000000;
  opacity: 1;
  background-color: #FFF; }

.loader-box p {
  color: white;
  font-family: monospace;
  font-weight: 400;
  position: absolute;
  font-size: 48px;
  width: 100%;
  height: 25px;
  text-align: center;
  bottom: 0px;
  margin: 0;
  top: 30%;
  opacity: 1;
  text-transform: uppercase;
  transition: all .2s ease; }

.navbar-custom {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 18px; }

.navbar-default .navbar-brand {
  color: #ff5f67;
  font-size: 28px; }

.navbar-default .navbar-brand:after {
  content: 'REONT';
  color: #ffffff; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    transition: padding 0.3s;
    border: none; }
    .navbar-default .navbar-brand {
      font-size: 36px;
      transition: all 0.3s; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 0px; }
  .navbar-default.affix {
    background-color: #5f5f5f;
    padding: 10px 0;
    transition: all 0.8s; }
    .navbar-default.affix .navbar-brand {
      font-size: 2.0em; } }

.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #ff5f67; }

.navbar-custom .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #ff5f67; }

.text-primary {
  color: #ff5f67; }

a {
  color: #ff5f67; }

body {
  color: #444444; }

a {
  outline: 0;
  text-decoration: none;
  background-color: transparent;
  transition-property: background-color, box-shadow, border, color, opacity, -webkit-transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform, -webkit-transform;
  transition-duration: 0.3s; }

@media (min-width: 768px) {
  section {
    padding: 40px 0; } }

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px; }

.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  font-size: 20px;
  background: rgba(102, 102, 102, 0.5);
  color: #fff;
  z-index: 99;
  display: none;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  border-radius: 50%;
  transition-property: background-color, box-shadow, border, color, opacity, -webkit-transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform, -webkit-transform;
  transition-duration: 0.5s; }

.scroll-top:hover {
  background: #ff5f67;
  text-decoration: none;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
  right: 20px; }

@media (max-width: 768px) {
  .scroll-top {
    opacity: 0;
    visibility: hidden; } }

.swiper-container {
  cursor: pointer; }

.swiper-container {
  width: 100%;
  height: 600px; }

.swiper-slide {
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* Direction arrows */
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 70px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  background-image: none !important;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  transition: all 0.3s; }

.swiper-button-next i, .swiper-button-prev i {
  line-height: 70px;
  font-size: 20px; }

.dark-button, .dark-button:focus {
  color: white !important;
  background: rgba(76, 76, 76, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  padding: 8px 22px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-width: 100;
  font-family: "Roboto"; }

.dark-button:hover {
  background: rgba(76, 76, 76, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none; }

.swiper-inner {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
  margin: 0 auto; }

.swiper-inner h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 12px;
  -webkit-font-smoothing: antialiased;
  display: inline-block; }

.swiper-inner {
  padding-left: 45px !important;
  padding-right: 45px !important;
  max-width: 1260px;
  overflow: visible; }

.swiper-slide .visible {
  visibility: visible; }

.swiper-inner h3, h2, p {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-size: 24px; }

.swiper-inner h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0px; }

.swiper-inner p {
  font-size: 18px;
  margin-bottom: 20px; }

.bg-main-color {
  background-color: #ff5f67;
  color: whitesmoke; }

.bg-main-color h3 {
  color: whitesmoke; }
