.btn {
  border-radius: 0; }

.carousel .item {
  height: 500px;
  background-color: #777; }

.navbar-default {
  background-color: transparent;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ff2b58;
  background-color: transparent; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ff2b58;
  background-color: transparent; }

/* -------------- loader  -------------- */
.loader {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 49%;
  top: calc(50% - 2.5px);
  left: 49%;
  left: calc(50% - 2.5px);
  background-color: #fff;
  border-radius: 50px; }

.loader:before {
  content: "";
  position: absolute;
  top: -38px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 0 50px 0px  0;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite; }

.loader:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 0 0px 0px  50px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* -------------- loader box -------------- */
.loader-box:nth-child(2n-1) {
  background-color: #ff2b58; }

.loader-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000000;
  opacity: 1;
  background-color: #FFF; }

.loader-box p {
  color: white;
  font-family: monospace;
  font-weight: 400;
  position: absolute;
  font-size: 48px;
  width: 100%;
  height: 25px;
  text-align: center;
  bottom: 0px;
  margin: 0;
  top: 30%;
  opacity: 1;
  text-transform: uppercase;
  transition: all .2s ease; }

.navbar-custom {
  font-family: "Roboto", Raleway, Helvetica, Arial !important;
  font-weight: 300;
  font-style: normal;
  font-size: 16px; }

.navbar-custom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0; }

.navbar-custom.affix {
  position: fixed; }

.navbar-default .navbar-brand {
  color: #ff2b58;
  font-size: 28px; }

.navbar-custom .navbar-brand:after {
  content: 'REONT';
  color: #ffffff; }

.navbar-custom.affix .navbar-brand:after {
  content: 'REONT';
  color: #777777; }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-brand {
      font-size: 36px;
      transition: all 0.3s; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 0px; }
  .navbar-custom.affix {
    background-color: white;
    padding: 10px 0;
    transition: all 0.5s;
    color: #777777;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05); }
    .navbar-custom.affix .navbar-brand {
      font-size: 2em; } }

.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #ff2b58; }

.navbar-custom .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #ff2b58; }

.navbar-custom.affix .navbar-nav > li > a {
  color: #777777; }

.navbar-custom.affix .navbar-nav > li > a:hover {
  color: #ff2b58; }

.navbar-custom.affix .navbar-nav > .active > a:hover {
  color: #ffffff; }

.navbar-custom.affix .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: #ff2b58; }

/* padding Helper */
.space-50 {
  padding: 50px 0; }

.space-40 {
  padding: 40px 0; }

.space-30 {
  padding: 30px 0; }

.space-20 {
  padding: 20px 0; }

.space-10 {
  padding: 10px 0; }

.space-bottom-10 {
  padding-bottom: 10px; }

.space-bottom-20 {
  padding-bottom: 20px; }

.space-bottom-30 {
  padding-bottom: 30px; }

.space-bottom-40 {
  padding-bottom: 40px; }

.space-bottom-50 {
  padding-bottom: 50px; }

.space-top-10 {
  padding-top: 10px; }

.space-top-20 {
  padding-top: 20px; }

.space-top-30 {
  padding-top: 30px; }

.space-top-40 {
  padding-top: 40px; }

.space-top-50 {
  padding-top: 50px; }

.space-left-10 {
  padding-left: 10px; }

.space-left-20 {
  padding-left: 20px; }

.space-left-30 {
  padding-left: 30px; }

.space-left-40 {
  padding-left: 40px; }

.space-left-50 {
  padding-left: 50px; }

.space-right-10 {
  padding-right: 10px; }

.space-right-20 {
  padding-right: 20px; }

.space-right-30 {
  padding-right: 30px; }

.space-right-40 {
  padding-right: 40px; }

.space-right-50 {
  padding-right: 50px; }

.text-primary {
  color: #ff2b58; }

a {
  color: #ff2b58; }

body {
  color: #777777; }

a {
  outline: 0;
  text-decoration: none;
  background-color: transparent;
  transition-property: background-color, box-shadow, border, color, opacity, -webkit-transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform, -webkit-transform;
  transition-duration: 0.3s; }

.colored {
  color: #ff2b58; }

section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400; }

section h2.section-heading {
  margin-bottom: 45px; }

section h2.section-heading:after {
  position: relative;
  content: '';
  bottom: -25px;
  width: 30px;
  height: 1px;
  margin: 0 auto;
  display: block;
  background-color: #777777; }

section.bg-main-color h2.section-heading:after {
  background-color: whitesmoke; }

.is-hidden {
  opacity: 0; }

.is-visible {
  opacity: 1; }

.progress {
  border-radius: 0px;
  box-shadow: none; }

.progress-bar {
  background-color: #ff2b58;
  box-shadow: none; }

.bg-overlay1 {
  position: absolute !important;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2); }

.white-text {
  color: white; }

#bg1 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -o-background-size: cover; }

.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  font-size: 20px;
  background: rgba(102, 102, 102, 0.5);
  color: #fff;
  z-index: 99;
  display: none;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  border-radius: 50%;
  transition-property: background-color, box-shadow, border, color, opacity, -webkit-transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-property: background-color, box-shadow, border, color, opacity, transform, -webkit-transform;
  transition-duration: 0.5s; }

.scroll-top:hover {
  background: #ff2b58;
  text-decoration: none;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
  right: 20px; }

@media (max-width: 768px) {
  .scroll-top {
    opacity: 0;
    visibility: hidden; } }

.swiper-container {
  cursor: pointer; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* Direction arrows */
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 70px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  background-image: none !important;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  transition: all 0.3s; }

.swiper-button-next i, .swiper-button-prev i {
  line-height: 70px;
  font-size: 20px; }

.dark-button, .dark-button:focus {
  color: white !important;
  background-color: #ff2b58;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  padding: 8px 22px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-width: 100;
  font-family: "Roboto", Raleway, Helvetica, Arial !important; }

.dark-button:hover {
  background: rgba(76, 76, 76, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none; }

.swiper-inner {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
  text-align: center; }

.swiper-inner h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 12px;
  -webkit-font-smoothing: antialiased;
  display: inline-block; }

.swiper-inner {
  padding-left: 45px !important;
  padding-right: 45px !important;
  max-width: 1260px;
  overflow: visible; }

.swiper-slide .visible {
  visibility: visible; }

.swiper-inner h3, .swiper-inner h2, .swiper-inner p {
  font-family: "Roboto", Raleway, Helvetica, Arial !important;
  font-weight: 100;
  font-style: normal;
  font-size: 24px; }

.swiper-inner h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0px; }

.swiper-inner p {
  font-size: 18px;
  margin-bottom: 20px; }

.bg-main-color {
  background-color: #ff2b58;
  color: whitesmoke; }

.bg-main-color h3 {
  color: whitesmoke; }

.gallery-grid img {
  width: 100%; }

.gallery-grid {
  padding: 0; }

.gallery1 .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: rgba(255, 43, 88, 0.7); }

.textbox {
  transition: all 0.7s ease;
  text-align: center;
  color: #ffffff; }

.textbox a {
  color: #ffffff; }

.textbox a:hover {
  text-decoration: none; }

.gallery1:hover .textbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.textbox h4 {
  color: #ffffff;
  margin-top: 115px;
  font-size: 32px; }

.bright-button, .bright-button:focus {
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 8px 22px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-width: 100;
  font-family: "Roboto", Raleway, Helvetica, Arial !important; }

.bright-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: #fff;
  text-decoration: none; }

section#contact .form-group textarea.form-control {
  height: 132px; }

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #2b2c36; }

footer span.copyright {
  line-height: 35px;
  text-transform: uppercase;
  text-transform: none;
  color: #cccccc; }

footer ul.social-buttons {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 35px; }

footer ul.social-buttons a:hover, footer ul.social-buttons a:focus {
  color: #ff2b58; }

footer ul.social-buttons a {
  color: #cccccc; }

@media (min-width: 768px) {
  footer span.copyright {
    float: left; }
  footer ul.social-buttons {
    float: right; } }
