/* padding Helper */
.space-50 {
  padding: 50px 0;
}

.space-40 {
  padding: 40px 0;
}

.space-30 {
  padding: 30px 0;
}

.space-20 {
  padding: 20px 0;
}

.space-10 {
  padding: 10px 0;
}

.space-bottom-10 {
  padding-bottom: 10px;
}

.space-bottom-20 {
  padding-bottom: 20px;
}

.space-bottom-30 {
  padding-bottom: 30px;
}

.space-bottom-40 {
  padding-bottom: 40px;
}

.space-bottom-50 {
  padding-bottom: 50px;
}

.space-top-10 {
  padding-top: 10px;
}

.space-top-20 {
  padding-top: 20px;
}

.space-top-30 {
  padding-top: 30px;
}

.space-top-40 {
  padding-top: 40px;
}

.space-top-50 {
  padding-top: 50px;
}

.space-left-10 {
  padding-left: 10px;
}

.space-left-20 {
  padding-left: 20px;
}

.space-left-30 {
  padding-left: 30px;
}

.space-left-40 {
  padding-left: 40px;
}

.space-left-50 {
  padding-left: 50px;
}

.space-right-10 {
  padding-right: 10px;
}

.space-right-20 {
  padding-right: 20px;
}

.space-right-30 {
  padding-right: 30px;
}

.space-right-40 {
  padding-right: 40px;
}

.space-right-50 {
  padding-right: 50px;
}


