@import "variables";
@import "bootstrap_skin";
@import "loader";
@import "navbar";
@import "space"; // Margin Helper

.text-primary {
  color: $main_color;
}

a {
  color: $main_color;
}

body {
  color: $text_color;
}

a {
  outline: 0;
  text-decoration: none;
  background-color: transparent;
  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-duration: 0.3s;
}

.colored {
  color: $main_color;
}

// Section
@media (min-width: 768px) {
  section {
  //  padding: 40px 0;

  }
}

// H3
section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
}

section h2.section-heading {
  margin-bottom: 45px;

}

section h2.section-heading:after {
  position: relative;
  content: '';
  bottom: -25px;
  width: 30px;
  height: 1px;
  margin: 0 auto;
  display: block;
  background-color: $text_color;
}

section.bg-main-color h2.section-heading:after {
  background-color: whitesmoke;
}
//
.is-hidden{
  opacity:0;
}

.is-visible{
  opacity:1;
}

.progress {


  border-radius: 0px;
  box-shadow: none;
}
.progress-bar {
  background-color: $main_color;
  box-shadow: none;
}

// Section Bg
.bg-overlay1 {
  position: absolute !important;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.20);
}
.white-text{
  color: white;
}
#bg1{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(../img/bg.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
html{
 // min-height: 100%;
}

// Scroll to Top

.scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  font-size: 20px;
  background: rgba(#666666, .5);

  color: #fff;
  z-index: 99;
  display: none;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  border-radius: 50%;

  transition-property: background-color, box-shadow, border, color, opacity, transform;
  transition-duration: 0.5s;
}

.scroll-top:hover {
  background: $main_color;
  text-decoration: none;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
  right: 20px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.5);
  //border: solid 1px #ffffff;
}

@media (max-width: 768px) {
  .scroll-top {
    opacity: 0;
    visibility: hidden;
  }
}

// Swiper
.swiper-container {
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  //background-position: top;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Direction arrows */

.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 70px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  background-image: none !important;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-button-next i, .swiper-button-prev i {
  line-height: 70px;
  font-size: 20px;
}

.dark-button, .dark-button:focus {
  color: white !important;
  //
  //background: rgba(76, 76, 76, 0.1);
  background-color: $main_color;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  padding: 8px 22px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-width: 100;
  font-family: "Roboto", Raleway, Helvetica, Arial !important;

}

.dark-button:hover {
  background: rgba(76, 76, 76, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-decoration: none;
}

.swiper-inner {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
 // margin: 0 auto;
  text-align: center;
}

.swiper-inner h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 12px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.swiper-inner {
  padding-left: 45px !important;
  padding-right: 45px !important;
  max-width: 1260px;
  overflow: visible;
}

.swiper-slide .visible {
  visibility: visible;
}

.swiper-inner h3, .swiper-inner h2, .swiper-inner p {
  font-family: "Roboto", Raleway, Helvetica, Arial !important;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
}

.swiper-inner h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0px;
}

.swiper-inner p {
  font-size: 18px;
  margin-bottom: 20px;
}

//Portfolio
.bg-main-color {
  background-color: $main_color;
  color: whitesmoke;

}

.bg-main-color h3 {
  color: whitesmoke;
}
// Partpholio
.gallery-grid img {
  width: 100%;
}
.gallery-grid {
  padding: 0;
}

.gallery1 .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: $main_color_50;
}
.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
  color: #ffffff;
}
.textbox a{
  color: #ffffff;
}
.textbox a:hover{
  text-decoration: none;
}
.gallery1:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.textbox h4{
  color: #ffffff;
  margin-top: 115px;
  font-size: 32px;
}


.bright-button, .bright-button:focus {
  color: white !important;
  //
  //background: rgba(76, 76, 76, 0.1);
  //background-color: $main_color;
  border: 1px solid rgba(255, 255, 255, .5);
  text-decoration: none;
  padding: 8px 22px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-width: 100;
  font-family: "Roboto", Raleway, Helvetica, Arial !important;

}

.bright-button:hover {
  background:rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255,1);
  color: #fff;
  text-decoration: none;
}
// Contact
section#contact .form-group textarea.form-control {
  height: 132px;
}
// Footer
footer {
  padding: 20px 0;
  text-align: center;
  background-color: #2b2c36;
}

footer span.copyright {
  line-height: 35px;
  text-transform: uppercase;
  text-transform: none;
  color: #cccccc;
}

footer ul.social-buttons {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 35px;
}

footer ul.social-buttons a:hover, footer ul.social-buttons a:focus {
  color: rgba($main_color, 1);
}

footer ul.social-buttons a {
  color: #cccccc;
}

@media(min-width: 768px) {
  footer span.copyright {
    float: left;
  }
  footer ul.social-buttons {
    float: right;
  }
}
